@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Kanchenjunga:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.nav {
    width: 100%;
    /* background-color: rgb(97, 214, 250); */

    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    height: 70px;
    width: 70px;

}

.icon>img {
    height: inherit;
    width: inherit;

}

.right {
    display: flex;
    /* min-width: 15%; */
    /* background-color: antiquewhite; */

    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
}

.name {
    font-size: 2.5em;
    color: black;
    font-family: "Cal Sans", sans-serif;
    /* font-family: "Roboto", sans-serif; */
}

.left {
    width: 20%;
    /* background-color: antiquewhite; */
    min-width: 257px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
    margin-left: 10px;

    gap: 20px;
    max-width: 264px;
}

.account {
    height: 60px;
    width: 60px;
    border-radius: 30px;

    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('https://i.pinimg.com/236x/6d/bd/07/6dbd0726dabd41d772abc80c68a61c3f.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.account:hover{
    cursor: pointer;
    padding: 5px;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.donate {
    font-size: 1.5em;
    color: black;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    border-radius: 15px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(245, 240, 235);

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.donate:hover {
    cursor: pointer;
    transform: scale(1.078);

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.search {
    /* background-color: antiquewhite; */
    width: 40%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search>input {
    padding-left: 13px;
    font-size: 1.1em;
    border-radius: 20px;
    color: gray;
    margin: 0px;

    border: 1px solid lightgray;
}

.heart {
    height: 35px;
    width: 35px;
}

.heart>img {
    height: inherit;
    width: inherit;
}

.left> :nth-child(3){
    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.left> :nth-child(3)> img{
    height: inherit;
    width: inherit;
}

/* navbar responsiveness starts here */

@media (max-width: 808px) {
    .name{
        display: none;
    }
    .donate{
        display: none;
    }
    .left{
        min-width: fit-content;
        width: auto;
    }
    .search{
        width: 64%;
    }
    .left> :nth-child(3){
        display: block;
    }
}

@media (max-width: 1315px){
    .donate{
        width: 204px;
    }
}

@media (min-width: 808px) {
    .left> :nth-child(3){
        display: none;
    }
}

/* navbar responsiveness ends here */